sudo: required # Required for apt-get build-dep
dist: xenial
language: cpp
compiler: gcc

env:
  - MUMBLE_QT=qt4 MUMBLE_HOST=x86_64-linux-gnu
  - MUMBLE_QT=qt5 MUMBLE_HOST=x86_64-linux-gnu
  - MUMBLE_QT=qt5 MUMBLE_HOST=i686-w64-mingw32
  - MUMBLE_QT=qt5 MUMBLE_HOST=x86_64-w64-mingw32

before_install:
    - ./travis-ci/before_install.bash

script:
    - ./travis-ci/script.bash
